@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');

body {
  font-family: 'Sansita', sans-serif;
  color: darkcyan;
  background-color: #f5f5f5;
}

.container {
  font-family: Arial, sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}

.home-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}

.column {
  flex: 1;
}

h2 {
  margin-bottom: 10px;
  color: darkcyan;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: darkcyan;
  transition: color 0.3s ease;
}

a:hover {
  color: darkslateblue;
}

.column-content {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}

.column-content:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.posts-container,
.albums-container,
.users-container {
  border-left: 4px solid darkcyan;
}

.posts-container li::before,
.albums-container li::before,
.users-container li::before {
  content: '\2022';
  color: darkcyan;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.comments-list .comment {
  margin-bottom: 20px;
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.comments-list .comment:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
  gap: 22px;
}

.menu-list a {
  text-decoration: none;
  color: darkcyan;
  text-transform: uppercase;
  padding: 8px 12px;
  border-radius: 3px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-list a.active {
  color: darkslateblue;
  background-color: #e0e0e0;
}

.photo-thumbnail {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.photo-thumbnail:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.album-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.album-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  height: 100%;
}

.column {
  flex: 1;
}

.column-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.column-content:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.page-links {
  margin-top: 20px;
  text-align: center;
}

.page-links a {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.page-links a.current-page {
  background-color: #333;
  color: #fff;
}

.top-margin {
  display: inline-block;
}
